.section_3{
    .container{
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        
        background-color: $pink-color;
        color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            text-align: center;
            display: block;
            min-width: 22rem;
            max-width: 38rem;
            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 5rem;
            padding-bottom: 3rem;
            margin: 2rem;
        }
    }
}